.App {
  height: 100vh;
  width: 100vw;
  text-align: center;

  .headers {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
