.meteor-investigator {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  .title {
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0;
    position: relative;
    background: #587fff;
    border-bottom: 1px solid black;

    .total-meteors {
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .inputs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
  }

  .loader {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}